<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Alaska, USA</h3>
    </div>
    
    <div class="panel-body">
        <div class="panel-heading">
            <h3 class="panel-title">Thursday: 30/11/2017</h3>
        </div>
        
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>High: </td>
                        <td class="align-right">-18&deg</td>
                    </tr>
                    <tr>
                        <td>Low: </td>
                        <td class="align-right">-20&deg</td>
                    </tr>
                    <tr>
                        <td>Conditions: </td>
                        <td class="align-right">Scattered Snow Showers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>