<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome to <%= title %>!<br><br>
      API Instructions:<br>
      /forecast/city=name-of-city&country=name-of-country
    </p>
  </body>
</html>