<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
          <h2>Welcome to <%= title %></h2>
          <p>Blah blah blah...</p>
      </div>
    </main>
    
  <% include ../partials/footer %>
  </body>
</html>