<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <% if(JSON.stringify(locations) != "{}"){ %>
        <h3>Saved Locations</h3>
        
        <% for(var loc in locations){ %>
        
          <% current_location = loc.replace(', ', '/'); %><!-- creates a string that stores the current location in URL format i.e. 'dublin/ireland' -->
          <% current_location_id = loc.replace(', ', '_'); %><!-- creates a unique string that will be the form ID of each location -->
        
          <% include ../partials/locations_table %><!-- displaying the forecast tables -->
          
        <% } %><!-- /for location in db -->
      <% }else{ %>
        <div class="jumbotron">
          <h3>You have no saved locations :(</h3><br />
          <p>Search any location, save it, and you'll find it here!</p>
        </div>
      <% } %>
    </main>
    
    <footer>
      <% include ../partials/footer %>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>