<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <h3>Search Result</h3>
      <% include ../partials/search_result %>
    </main>
    
  <% include ../partials/footer %>
  </body>
</html>