body {
  padding: 25px;
}

a {
  color: #00B7FF;
}

main {
  margin-top: 25px;
}

.panel {
  margin-bottom: 25px;
}

.align-right {
  text-align: right;
}

.table thead > tr > th {
  border-bottom: none;
}

.table tbody > tr:first-child > td {
  border-top: none;
}

#del {
  color: Crimson;
}

#save {
  color: Green;
}