body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.align-right {
  text-align: right;
}

.table thead > tr > th {
  border-bottom: none;
}

.table tbody > tr:first-child > td {
  border-top: none;
}